{% load static %} {% load thumbnail %}

<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Title -->
    <title>Metronic Free HTML5 Responsive Template | Template Stock </title>


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>

</head>

<body class="image-background">



    {% for e in examples %}

    <label>Imagem:</label>
    <img src="{% thumbnail e.image 430x360 box=e.cropping crop detail %}" alt="Logo" />
    <label>Título:</label>
    <p>{{e.title}}</p>
    <label>Post:</label>
    <div>{{e.content|safe}}</div>
    {% endfor %}


    <script type="text/javascript" src="{% static 'mainapp/js/main.js' %}"></script>

</body>

</html>